<!DOCTYPE html> 

<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/static/notebook.js"></script>      
    </head>

    <body>
        <h1>Please bookmark this page</h1>
        <div>
            <div>
                <input type="text" size="50" id="note_input"/>
            </div>
            <div>
                <button id="new_note" class="new_note_button">Add Note</button>
            </div>
        </div>


        <div class="notes" id="notes" visibility="none">
            <!--
            <hr/>
            <div class="note">
                <div class="note_text">
                    <p>This is a test note</p>
                </div>
                <div class="delete_note">
                    <button id="delete_button">Delete Note</button>
                </div>
            </div>
            -->
        </div>

        <div id="nav_button_cluster" class="nav_button_cluster">
            <button id="previous_page_button" class="nav-button">Previous Page</button>
            <button id ="first_page_button" class="nav-button">1</button>
            <button id="last_page_button" class="nav-button"></button>
            <button id="next_page_button" class="nav-button">Next Page</button>
        </div>
        
        <div>
            <p id="page_number" class="page_number"></p>
        </div>
        
    </body>

    <script>
        $(document).ready(function(){
            notebook.displayNotebookOnInitial();
            notebook.handleAddNoteButtonClick();
            notebook.handleDeleteButtonClick();
            notebook.handleNextPageButtonClick();
            notebook.handlePreviousPageButtonClick();
            notebook.handleFirstPageButtonClick();
            notebook.handleLastPageButtonClick();
        });
    </script>

</html>